

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: x-large;
    margin: 1rem;
}

.subtitle {
    font-size: small;
    margin: 5px;
}

.github-link {
    display: flex;
    align-items: center;
}

.github-link img {
    height: 20px;
    width: auto;
    margin: 5px;
}

.notification {
    margin-top: 1rem;
    background-color: lightblue;
    padding: 1rem;
}
