.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chart {
    margin: 1rem;
}

.label {
    text-align: center;
    font-size: small;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.toolbar {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.toolbar button {
    min-width: 100px;
    margin-bottom: 5px;
}
